  .table-row{
      display: table-row;
  }

  .table{
        display: table; 
        border-collapse: collapse;
  }

  .table-cell{
      display: table-cell;
      padding: 15px;
      width: 193px;
  }

  .h{
      background-color: rgb(229, 229, 229);
  }

  .green{
      background-color: #a4ffa4;
      color: #21b926;
      border-radius: 10px;
      width: 68px;
      text-align: center;
  }

  .icon{
      width: 15px;
      height: 15px;
      border-radius: 100%;
      background-color: hotpink;
      float: left;
      margin-top: 2px;
      margin-left: 6px;
  }

  .fa-ellipsis-h{
      float: right;
      color: darkgrey;
      font-size: 18.5px;
  }

  .fa-arrow-down{
    float: right;
    margin-right: 98px;
    color: #0075ff;
    font-size: 21px;
  }
  
  .border{
    border-left: 5px solid blue;
  }